/* #772CFF */

*{
    margin: 0;

}
body{
    
    background-color: #261e33;
    
}

nav{
    display: flex;
    background-color: #54456e;
    height: 50px;
    border-bottom: 2px solid #c6c4c9;
    justify-content: space-between;
    align-items: center;
}
.logosoft{
}
.links{
    width: 100%;
    text-align: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.links a{
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    color: rgb(94, 79, 221);
    font-size: 1.5em;
    width: 10%;
    height: 100%;
    align-items: center;
    transition: 1s;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    


}

.links a:hover{
    background-color: #40335557;
    width: 15%;
    text-align: center;
}

nav img{
    height: 40px;
    margin-left: 10px;
}


#conteiner{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#conteiner div{
    background-color: #54456e;
    border: 2px #716780 solid;
    margin-top: 7px;
}

iframe{
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    width: 100vh;
    height: 75vh;
    min-height: 265px;
    min-width: 350px;


}

h2{
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 5px;
    background-color: #5f5277;
    border: 2px #beb9c4 solid;
    

}